<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    {{title}}
  </h1>
  <ng-template [ngIf]="!isLoggedIn()" [ngIfElse]="signedIn">
    <h2>Sign in:</h2>
    <app-login (loginEvent)="onLogin($event)"></app-login>
  </ng-template>
  <ng-template #signedIn>
    <h2>Welcome {{firstName + '!'}}</h2>
    <br>
    <app-lunch 
      (updatePrefsEvent)="onUpdatePrefs($event)"
      (setTodaysMealEvent)="onTodaysMeal($event)"
      [days]="days"
      [meals]="meals"
    ></app-lunch>
  </ng-template>
</div>

